img.img-thumbnail {
    max-width: 55vw;
}

.back-home > a {
    font-family: 'Taviraj', serif;
    font-weight: bold;
    &:before {
        content: "«";
    }
}

section#recent-posts {
    margin-top: 25px;

    article {
        margin: 0;
        font-size: 1em;

        >h2 {
            margin: 15px 0 0 0;
            a {
                color: black;

                &:hover {
                    color: #AAA;
                }
            }
        }
        >h3 {
            margin: 0;
            font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #515151;
            font-size: 0.80em;
            font-weight: 300;
            line-height: 1.6;
            text-transform: uppercase;
        }
    }
}
