@charset "utf-8";
@import "normalize";
@import "nav";
@import "blog";
@import "resume";

html {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    line-height: 1.6;
}

body {
    color: #515151;
    background-color: #fff;
}

h1 {
    font-family: 'Taviraj', serif;
    font-size: 1.3em;
}

a {
    text-decoration: none;
    color: #65998D;

    &:visited {
        color: #65998D;
    }

    &:hover {
        opacity: 0.7;
    }
}

#container {
    width: 55vw;
    margin: 2em auto;
}

